<template name="katexHome">
    <h1>Test de KaTeX</h1>

    Voici enfin les données que je voulais.

    <form action="">
        <div class="form-group">
            <label for="expression">Expression : </label>
            <input id="expr-input" type="text" class="form-control" />
        </div>
    </form>

    Rendu de l'expression avec KaTeX : 
    <div id="katex" class="katex">
        
    </div>

    Rendu de l'expression avec MathJAX : 
    <div id="mathjax" class="mathjax">
        
    </div>

</template>

